@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;200;300;400&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    min-width: 320px;
	margin: 0;
}

h1, h2, h3, p {
	margin: 0;
}

a {
	text-decoration: none;
}

a:link, a:visited {
	color: inherit;
}

a.button {
    display:inline-block;
    padding:0.7em 1.4em;
    margin:0 0.3em 0.3em 0;
    border-radius:0.15em;
    box-sizing: border-box;
    text-decoration:none;
    font-family:'Roboto',sans-serif;
    text-transform:uppercase;
    font-weight:400;
    color:#FFFFFF;
    background-color:#3369ff;
    box-shadow:inset 0 -0.6em 0 -0.35em rgba(0,0,0,0.17);
    text-align:center;
    position:relative;
}
a.button:active {
    top:0.1em;
}
@media all and (max-width:30em){
    a.button {
        display:block;
        margin:0.4em auto;
    }
} 

.products {
    margin: 0 auto;
    max-width: 1250px;
}

.products__header {
    margin: 20px;
    padding: 0 10px 0 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.products .products__header h1 {
    font-weight: 300;
}

.products .products__header img {
    width: 150px;
}

.products .products__items {
    margin: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.products .products__items .products__item {
    box-shadow: 0 0 16px 0 rgba(119, 119, 119, 0.3);
    border-radius: 30px;
    width: 280px;
    height: 300px;
    margin: 10px;
}

.products .products__items .products__item img {
    width: 100%;
    height: 240px;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    object-fit: cover;
}

.products .products__items .products__item .products__description {
    margin: 5px 20px 5px 20px;
}

.products .products__items .products__item .products__description .price {
    font-weight: 200;
}

@media screen and (max-width: 1250px) {
    .products .products__items {
        justify-content: flex-start;
    }

    .products .products__items .products__item {
        width: calc(100% - 20px);
    }
}

@media screen and (max-width: 570px) {
    .products .products__header h1 {
        display: none;
    }
}

.selectedProduct {
    margin: 0 auto;
    margin-bottom: 25px;
    max-width: 1250px;
}

.selectedProduct__header {
    margin: 20px;
    padding: 0 10px 0 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.selectedProduct .selectedProduct__header h1 {
    font-weight: 300;
}

.selectedProduct .selectedProduct__header img {
    width: 150px;
}

.selectedProduct .selectedProduct__info img {
    width: calc(100% - 60px);
    border-radius: 30px;
    height: 400px;
    object-fit: cover;
    display: block;
    margin: auto;
    margin-bottom: 20px;
}

.selectedProduct .selectedProduct__info p, .selectedProduct .selectedProduct__info .selectedProduct__options {
    margin: 10px 30px 0 30px;
}

.selectedProduct .button {
    margin: 10px 30px 0 30px;
}

@media screen and (max-width: 570px) {
    .selectedProduct .selectedProduct__header h1 {
        display: none;
    }
}